 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
     font-family: "Inter", sans-serif;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 .continue-slider {
     display: inline-flex;
     width: auto;
     animation: slide-left 20s linear infinite;
 }

 @keyframes slide-left {
     0% {
         transform: translateX(0%);
     }

     100% {
         transform: translateX(-114%);
     }
 }

 @media (max-width: 768.98px) {
     @keyframes slide-left {
         0% {
             transform: translateX(0%);
         }

         100% {
             transform: translateX(-20%);
         }
     }
 }